.all{
    display: grid;
    margin-left: 40px;
    margin-right: 40px;
    grid-template-columns: repeat(4,1fr);
    gap: 50px;
  }
    
  .cart{
 
    width: 280px;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.7);
  }
  img{
    width:100%;
    height: 50%;
    background-size: cover;
    object-fit: cover;
    border-radius: 5px;
  }
  h2{
    font-size: 20px;
    padding-left: 30px;
    color: darkblue;
    margin-top: 5px;
  
  }
  .cart p{
    padding-left: 30px;
    font-size: 17px;  
  }